<!DOCTYPE html>
<html ng-app="generator">
<head lang="en">
    <meta charset="UTF-8">
    <title>Generator</title>
    <link rel='stylesheet' href='../libs/bootstrap-3.3.4-dist/css/bootstrap.css'>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="../libs/bootstrap-3.3.4-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../libs/angular.js"></script>
    <script type="text/javascript" src="../src/Generator.js"></script>
</head>
<body ng-controller="common">
<div class="row">
    <div class="col-lg-3 col-md-3"></div>
    <div class="col-lg-5 col-md-5">
        <h1>Generator</h1>
        <div style="float:right;">
            <label>Your words</label>
            <div ng-repeat="word in wordsArr">
                <input type="checkbox" ng-click="checked($index)">
                <span>{{word}}</span>
            </div>
            <input type="button" class="btn btn-info" value="Clear all" ng-click="removeWords()">
            <input type="button" class="btn btn-info" value="Clear checked" ng-click="delChecked()">
        </div>
        <div class="form-inline">
            <form ng-submit="addWord()">
                <input type="text" ng-model="word" name="text" />
                <input type="button" class="btn btn-success" value="Add" ng-click="addWord()">
            </form>
        </div>
        <div class="radio" style="width: 70%">
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" ng-model="type" value="2words" checked>
                2 words
            </label>
        </div>
        <div class="radio" style="width: 70%">
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios2" ng-model="type" value="3words">
                3 words
            </label>
        </div>
        <button type="button" class="btn btn-default" ng-click="generate(type)">Generate</button>
        <input type="button" class="btn btn-default" value="Shuffle all" ng-click="shuffleWords()">
        <div ng-show="resultArr.length!=0" style="width: 70%">
            <br>
            <label>Result</label>
            <br>
         <span ng-repeat="result in resultArr" >
             <span  ng-if="$index%4 == 0" class="list-group-item list-group-item-success">{{result}}</span>
             <span  ng-if="$index%4 == 1" class="list-group-item list-group-item-info">{{result}}</span>
             <span  ng-if="$index%4 == 2" class="list-group-item list-group-item-warning">{{result}}</span>
             <span  ng-if="$index%4 == 3" class="list-group-item list-group-item-danger">{{result}}</span>
         </span>
        </div>
    </div>
    <div class="col-lg-3 col-md-3"></div>
</div>
</body>
</html>